@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible Next', sans-serif;
}

:root{
    --black: #111;
    --blue: #007bff;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    gap: 10px;
    padding: 20px 0;
}


.navbar a{
    color: var(--black);
    padding: 8px;
    border-bottom: 1px solid var(--black);
}

.navbar a.active{
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}

.github-logo{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--black);
}

/* PORTRFOLIO */

.portfolio-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.battle-col{
    display: block;
    width: 300px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.battle-col img{
    width: 100%;
    object-fit: cover;
}

.battle-col h2{
    text-align: center;
    margin: 10px 0;
    font-size: 1.5rem;
    color: var(--black);
    text-transform: uppercase;
}